<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mindica.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mindica.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mindica</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mindica</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="infomusicaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:unip-infomusica.database.windows.net,1433;Initial Catalog=INFOMUSICA;User ID=mvunip@unip-infomusica.database.windows.net;Password=MaVontade.123" Name="Data Source=tcp:unip-infomusica.database.windows.net,1433;Initial Catalog=INFOMUSICA;User Id=mvunip@unip-infomusica.database.windows.net;Password=MaVontade.123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=unip-infomusica.database.windows.net;Initial Catalog=infomusica;Persist Security Info=True;User ID=mvunip;Password=MaVontade.123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\infomusicaEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.Models.db.InfomusicaModel.csdl|res://*/App_Code.Models.db.InfomusicaModel.ssdl|res://*/App_Code.Models.db.InfomusicaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=unip-infomusica.database.windows.net;initial catalog=infomusica;persist security info=True;user id=mvunip;Password=MaVontade.123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="infomusicaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/App_Code.Models.db.InfomusicaModel.csdl|res://*/App_Code.Models.db.InfomusicaModel.ssdl|res://*/App_Code.Models.db.InfomusicaModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:unip-infomusica.database.windows.net,1433;initial catalog=INFOMUSICA;user id=mvunip@unip-infomusica.database.windows.net;password=MaVontade.123;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>