<?xml version="1.0"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="DeezerBuscaGenerica" value="http://api.deezer.com/search/autocomplete?q={0}" />
    <add key="DeezerArtista" value="http://api.deezer.com/search/artist/autocomplete?q={0}" />
    <add key="DeezerAlbum" value="https://api.deezer.com/artist/{0}/albums" />
    <add key="DeezerFaixaAlbum" value="https://api.deezer.com/album/{0}/tracks" />
    <add key="DeezerFaixa" value="https://api.deezer.com/track/{0}" />
    <add key="DeezerEmbedFaixa" value="https://api.deezer.com/oembed?url={0}" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    <buildProviders><add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" /></buildProviders></compilation>
    <httpRuntime targetFramework="4.7.1" />
    <membership>
      <providers>
        <!--
        A Associação ASP.NET é desabilitada neste modelo. Visite o seguinte link https://go.microsoft.com/fwlink/?LinkId=301889 para saber mais sobre a Associação do ASP.NET com suporte neste modelo
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        O Perfil de Associação do ASP.NET está desabilitado neste modelo. Visite o seguinte link https://go.microsoft.com/fwlink/?LinkId=301889 para saber mais sobre a Associação ASP.NET com suporte neste modelo
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          A Função de Associação do ASP.NET está desabilitada neste modelo. Visite o seguinte link https://go.microsoft.com/fwlink/?LinkId=301889 para saber mais sobre a Associação do ASP.NET com suporte neste modelo
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            Caso esteja implantando em um ambiente em nuvem que possua diversas instâncias de servidor da Web,
            o modo de estado da sessão deve ser alterado de "InProc" para "Custom". Além disso,
            altere a cadeia de conexão denominada "DefaultConnection" para conectar-se a uma instância
            do SQL Server (incluindo SQL Azure e SQL Compact) em vez de SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
<connectionStrings>
  <add name="infomusicaEntities" connectionString="metadata=res://*/App_Code.Models.db.InfomusicaModel.csdl|res://*/App_Code.Models.db.InfomusicaModel.ssdl|res://*/App_Code.Models.db.InfomusicaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=unip-infomusica.database.windows.net;initial catalog=infomusica;persist security info=True;user id=mvunip;Password=MaVontade.123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>